@page "/manual-snake-game"
@using LearningSnake.CurrentConfiguration

<PageTitle>Manual snake game</PageTitle>
In order to play you need to have focus on the div below. If you lose it just click it. I will fix it one day.
<div @ref="testRef" tabindex="0" @onkeydown="HandleKeyDown" class="manual-focus-area">
    <GameBoard SnakeGame="_snakeGame" />
</div>

@code {
    private System.Timers.Timer? _timer;
    private SnakeGame? _snakeGame;
    private Direction direction = Direction.Down;
    private ElementReference testRef;

    protected override Task OnInitializedAsync()
    {
        _timer = new System.Timers.Timer();
        _timer.Interval = 100;
        _timer.Elapsed += MakeAMove;
        _timer.AutoReset = true;
        _timer.Enabled = true;

        return base.OnInitializedAsync();
    }

    public void MakeAMove(Object? source, System.Timers.ElapsedEventArgs e)
    {
        if (_snakeGame != null && _snakeGame.State == GameState.InProgress)
        {
            _snakeGame.MakeMove(direction);
        }
        else
        {
            StartNewGame();
        }

        this.StateHasChanged();
    }

    private void StartNewGame()
    {
        var seed = Guid.NewGuid().GetHashCode();

        _snakeGame = new SnakeGame(StaticConfigurationSettings.GameConfiguration, seed);
        _snakeGame.InitializeGame();
    }

    private void HandleKeyDown(KeyboardEventArgs e)
    {
        switch (e.Code)
        {
            case "ArrowLeft":
                direction = Direction.Left;
                break;
            case "ArrowUp":
                direction = Direction.Up;
                break;
            case "ArrowRight":
                direction = Direction.Right;
                break;
            case "ArrowDown":
                direction = Direction.Down;
                break;
            default:
                break;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await testRef.FocusAsync();
        }
    }
}
